* {
    margin: 0;
    border: 0;
}
body {
    background-image: url("../../assets/images/shape.jpg");
    line-height: 150%;
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}

h1 {
    /*background-color: #79C215;*/
    font-family: 'Sigmar One', cursive;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#rules {
    float: left;
    background-color: #A7D7B2;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 3rem;
    width: 30%;
    border-radius: 25px;
}

.gameArea {
    float: right;
    margin-right: 3rem;
    width: 55%;
    position:relative;
}

#target {
    background-color: #A7D7B2;
    padding: 5rem 2rem 5rem 2rem;
    position: absolute;
    top: 100px;
    left: 125px;
    width: 20%;
    height: 100%;
    border-radius: 25px;

}

#yourNumber {
    /*float: right;*/
    padding: 5rem 2rem 5rem 2rem;
    background-color: #A7D7B2;
    position: absolute;
    top: 100px;
    left: 400px;
    width: 20%;
    height: 100%;
    border-radius: 25px;
}

/*Image configuration*/
.images {
    clear: both;
    position: absolute;
    top: 250px;
    left: 15px;
    padding: 2rem 2rem 2rem 2rem;
}

#orange {
    padding: 2rem 2rem 2rem 2rem;
}

#blue {
    padding: 2rem 2rem 2rem 2rem;
}

#red {
    padding: 2rem 2rem 2rem 2rem;
}

#purple {
    padding: 2rem 2rem 2rem 2rem;
}

/*Stats Area for Game Play*/
.stats {
    position: absolute;
    left: 125px;
    top: 450px;
    padding: 2rem 15rem 7rem 15rem;
    background-color: #A4D1F1;
    border-radius: 25px;
}
 
