* {
    margin: 0;
    border: 0;
}
body {
    background-image: url("../../assets/images/shape.jpg");
    line-height: 150%;
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background: none;
}

h1 {
    font-family: 'Sigmar One', cursive;
    text-align: center;
}
.align {
    padding-top: 45px;
}

#rules {
    background-color: #F5F0EB;
    border-radius: 25px;
    padding-bottom: 25px;
}

#target {
    background-color: #F5F0EB;
    border-radius: 25px;
    height: 10rem;
    font-family: 'PT Sans Caption', sans-serif;
 
}

#yourNumber {
    background-color: #F5F0EB;
    border-radius: 25px;
    height: 10rem;
    font-family: 'PT Sans Caption', sans-serif;
}

/*Image configuration*/

#orange {
    padding: 2rem 2rem 2rem 2rem;
}

#blue {
    padding: 2rem 2rem 2rem 2rem;
}

#red {
    padding: 2rem 2rem 2rem 2rem;
}

#purple {
    padding: 2rem 2rem 2rem 2rem;
}

/*Stats Area for Game Play*/
 
#wins {
    background-color: #F5F0EB;
    border-radius: 25px;
    height: 10rem;
    font-family: 'PT Sans Caption', sans-serif;
}

#losses {
    background-color: #F5F0EB;
    border-radius: 25px;
    height: 10rem;
    font-family: 'PT Sans Caption', sans-serif;
}